#carousel{
    height:125vh;
    /* background-image: url('./img/fotis-fotopoulos-6sAl6aQ4OWI-unsplash.jpg'); */
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
#about{
  background-color: white;
  height:125vh;
}
html {
    scroll-behavior: smooth;
  }
#header{
    position:absolute;
    display : block;
    z-index:900;
    top:0px;
    width:100%;
    transition:all 0.3s ease-in-out;
    margin:0 auto;
    max-width: 100%;
   
}
.navbar{
    background-color: transparent;
    padding:10px 0;
}
.header.active{
    position:fixed
}
.container{
  width: 90%;
  margin: auto
}
.glitch {
    position: relative;
    color:white;
    text-align: left!important;
    font-size: 1.7em;
    letter-spacing: 0.1em;
    /* Animation provies a slight random skew. Check bottom of doc
    for more information on how to random skew. */
    animation: glitch-skew 1s infinite linear alternate-reverse;
  }
  .glitch::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: 2px;
    text-shadow: -2px 0 #d2379b;
    /* Creates an initial clip for our glitch. This works in
    a typical top,right,bottom,left fashion and creates a mask
    to only show a certain part of the glitch at a time. */
    clip: rect(44px, 450px, 56px, 0);
    /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
    with an alternating animation to keep things fresh. */
    animation: glitch-anim 5s infinite linear alternate-reverse;
  }
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: -2px;
    text-shadow: -2px 0 #021383, 2.5px 2.5px #d2379b;
    animation: glitch-anim2 1s infinite linear alternate-reverse;
  }
 
  /* Creates an animation with 20 steaps. For each step, it calculates 
  a percentage for the specific step. It then generates a random clip
  box to be used for the random glitch effect. Also adds a very subtle
  skew to change the 'thickness' of the glitch.*/
  @keyframes glitch-anim {
    0% {
      clip: rect(93px, 9999px, 88px, 0);
      transform: skew(0.21deg);
    }
    5% {
      clip: rect(86px, 9999px, 66px, 0);
      transform: skew(0.03deg);
    }
    10% {
      clip: rect(20px, 9999px, 72px, 0);
      transform: skew(0.26deg);
    }
    15% {
      clip: rect(61px, 9999px, 64px, 0);
      transform: skew(0.49deg);
    }
    20% {
      clip: rect(49px, 9999px, 31px, 0);
      transform: skew(0.91deg);
    }
    25% {
      clip: rect(93px, 9999px, 90px, 0);
      transform: skew(0.9deg);
    }
    30% {
      clip: rect(33px, 9999px, 78px, 0);
      transform: skew(0.67deg);
    }
    35% {
      clip: rect(39px, 9999px, 51px, 0);
      transform: skew(0.77deg);
    }
    40% {
      clip: rect(100px, 9999px, 42px, 0);
      transform: skew(0.86deg);
    }
    45% {
      clip: rect(64px, 9999px, 14px, 0);
      transform: skew(0.85deg);
    }
    50% {
      clip: rect(61px, 9999px, 63px, 0);
      transform: skew(0.95deg);
    }
    55% {
      clip: rect(61px, 9999px, 88px, 0);
      transform: skew(0.54deg);
    }
    60% {
      clip: rect(97px, 9999px, 97px, 0);
      transform: skew(0.25deg);
    }
    65% {
      clip: rect(25px, 9999px, 67px, 0);
      transform: skew(0.91deg);
    }
    70% {
      clip: rect(2px, 9999px, 97px, 0);
      transform: skew(0.74deg);
    }
    75% {
      clip: rect(20px, 9999px, 10px, 0);
      transform: skew(0.62deg);
    }
    80% {
      clip: rect(21px, 9999px, 25px, 0);
      transform: skew(0.81deg);
    }
    85% {
      clip: rect(73px, 9999px, 63px, 0);
      transform: skew(0.9deg);
    }
    90% {
      clip: rect(20px, 9999px, 80px, 0);
      transform: skew(0.3deg);
    }
    95% {
      clip: rect(44px, 9999px, 41px, 0);
      transform: skew(0.13deg);
    }
    100% {
      clip: rect(2px, 9999px, 17px, 0);
      transform: skew(0.58deg);
    }
  }
  @keyframes glitch-anim2 {
    0% {
      clip: rect(22px, 9999px, 58px, 0);
      transform: skew(0.89deg);
    }
    5% {
      clip: rect(55px, 9999px, 31px, 0);
      transform: skew(0.72deg);
    }
    10% {
      clip: rect(65px, 9999px, 94px, 0);
      transform: skew(0.15deg);
    }
    15% {
      clip: rect(35px, 9999px, 21px, 0);
      transform: skew(0.19deg);
    }
    20% {
      clip: rect(83px, 9999px, 75px, 0);
      transform: skew(0.11deg);
    }
    25% {
      clip: rect(84px, 9999px, 93px, 0);
      transform: skew(0.11deg);
    }
    30% {
      clip: rect(83px, 9999px, 92px, 0);
      transform: skew(0.46deg);
    }
    35% {
      clip: rect(46px, 9999px, 83px, 0);
      transform: skew(0.17deg);
    }
    40% {
      clip: rect(99px, 9999px, 70px, 0);
      transform: skew(0.56deg);
    }
    45% {
      clip: rect(99px, 9999px, 58px, 0);
      transform: skew(0.9deg);
    }
    50% {
      clip: rect(72px, 9999px, 53px, 0);
      transform: skew(0.23deg);
    }
    55% {
      clip: rect(90px, 9999px, 38px, 0);
      transform: skew(0.74deg);
    }
    60% {
      clip: rect(24px, 9999px, 43px, 0);
      transform: skew(0.87deg);
    }
    65% {
      clip: rect(43px, 9999px, 9px, 0);
      transform: skew(0.01deg);
    }
    70% {
      clip: rect(75px, 9999px, 2px, 0);
      transform: skew(0.31deg);
    }
    75% {
      clip: rect(23px, 9999px, 97px, 0);
      transform: skew(0.52deg);
    }
    80% {
      clip: rect(97px, 9999px, 51px, 0);
      transform: skew(0.7deg);
    }
    85% {
      clip: rect(10px, 9999px, 26px, 0);
      transform: skew(0.59deg);
    }
    90% {
      clip: rect(42px, 9999px, 24px, 0);
      transform: skew(0.94deg);
    }
    95% {
      clip: rect(94px, 9999px, 92px, 0);
      transform: skew(0.44deg);
    }
    100% {
      clip: rect(64px, 9999px, 46px, 0);
      transform: skew(0.44deg);
    }
  }
  @keyframes glitch-skew {
    0% {
      transform: skew(-1deg);
    }
    10% {
      transform: skew(-2deg);
    }
    20% {
      transform: skew(2deg);
    }
    30% {
      transform: skew(5deg);
    }
    40% {
      transform: skew(-1deg);
    }
    50% {
      transform: skew(-1deg);
    }
    60% {
      transform: skew(1deg);
    }
    70% {
      transform: skew(-2deg);
    }
    80% {
      transform: skew(3deg);
    }
    90% {
      transform: skew(-2deg);
    }
    100% {
      transform: skew(3deg);
    }
  }
  #carousel_overlay{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;bottom: 0;
    background: linear-gradient(to right,rgb(64,32,59),transparent 100%);
  }
  .content{
    position:absolute;
    top:65%;
    left:50%;
    color:white;
    transform: translate(-90%, -50%);
    display: flex;
    justify-content: center;
  }
  #header .navbar .navbar-nav .nav-item a{
    color:rgba(71, 2, 35, 0.7);
    font-weight:500;
    font-size:17px!important;
    text-align: center;

  }
  #header .nav-item:hover::after{
    width: 100%;
    box-shadow: 0 0 20px 0 #fbbd61;
}
.content_carousel p{
  width:445px;
  max-width:445px;
  text-align: justify;
  line-height:28px;
  font-size:16px;
  margin:10px auto;
  color:rgba(71, 2, 35, 0.7)
}
.social-icons {
  padding: 0;
  list-style: none;
  margin: 0 1.4em;
}
.social-icons li {
  display: inline-block;
  margin: 0.2em;
  position: relative;
  font-size: 1.2em;
}
.social-icons i {
  color: #fff;
  position: absolute;
  top: 16px;
  left: 15px;
  font-size:20px;
  transition: all 265ms ease-out;
}
.social-icons a {
  display: inline-block;
}
.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, crimson, rgb(136, 7, 33));
  transition: all 265ms ease-out;
}
.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}
.social-icons a i{
  color:white
}
.btn {
  text-transform: uppercase;
  color: #cb134e;
  border: 2px solid #cb134e;
  display: inline-block;
  padding: 12px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 14px;
  transition: all 0.3s ease;
  animation: upDown 1s infinite ease alternate
}
.btn a {
  text-decoration: none;
  color: #cb134e;
}
 .btn .mo {
  position: relative;
  overflow: hidden;
  bottom: -150px;
  width: 0px;
  height: 0px;
  text-align: center;
  display: inline-block;
  opacity: 0;
  color: #272727;
}
 .btn:before {
  width: 0%;
  position: absolute;
  left: 0;
  bottom: 3px;
  height: 5px;
  background-color: #cb134e;
  content: "";
}
 .btn:after {
  width: 100%;
  height: 0%;
  position: absolute;
  bottom: 3px;
  left: 0;
  background-color: #cb134e;
  content: "Download complete";
  overflow: hidden;
  text-align: center;
  line-height: 180px;
}
.btn:hover {
  background-color: #cb134e;
  color: #060e33;
}
.btn:hover a{
 
  color: #060e33;
}

.check {
  display: none;
}
.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: rgb(136, 7, 33);
  background: -webkit-linear-gradient(45deg, crimson, rgb(136, 7, 33));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}

  #header .navbar .navbar-nav .nav-item.active::after{
    content:'';
    width:80px;
    height:3px;
    background-image: 
    linear-gradient(to right, crimson,#d2379b );
    display: block;
    transition: all 0.5s;
}
  #header .navbar .navbar-nav .nav-item{
  padding:0 12px;

  }
  .content_carousel_template{
    position:absolute;
  width:100%;
  margin: 0 auto;
  }
  .right_content{
    width:45%;
    height:400px;
    position:absolute;
    right:0;
    top:20%;
  }
  .overlay{
   padding-top:55%;
   
  }
  .content_about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 .img{
   height:250px;
   width:250px;
   border:none;
   border-radius:50%;
   background-image: url('./img/80640196_2184383515203170_7473206600702885888_o.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   margin:0 auto;
   position: absolute;
   z-index:10000!important;
   top:50%;
   left:50%;
   transform: translate(-50%, -50%);
  
 }
 .arrow-1{
  width:300px;
  height: 300px;
  background: #f06a6a;
  opacity: 0.5;
  border-radius: 50%;
  margin:0 auto;
  position: relative;
   z-index:-3;
  
   animation: zoomIn infinite;
}
 h1 {
  font-size: 4.5rem;
  text-align: center;
}
.icon_social{
  display:flex;
  justify-content: center;
  margin:20px 0;
}

.type-animation {
  display: inline-flex;
  width: 0;
  overflow: hidden;
  padding-right: 0.08em;
  position: relative;
}
.content_about .content_carousel h1{
  font-size:2rem;
  color:rgba(71, 2, 35, 0.7);
  font-weight: 500;
  margin:20px 0;
  text-align: center;
}
.type-animation:after {
  content: "";
  background: #f7f3ff;
  position: absolute;
  right: 0;
  top: -0.05em;
  bottom: -0.05em;
  width: 0.08em;
  border-right: 2px solid transparent;
}
.type-animation.animating {
  -webkit-animation: type 1620ms;
          animation: type 1620ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
h1,h2 {
  font-weight: 200;
  margin: 0.4em 0;
}
h1 { font-size: 3em; }
h2 {
  color: #888;
  font-size: 2em;
}
.type-animation.animating:after {
  -webkit-animation: cursor 320ms 8.625 ease-in-out infinite;
          animation: cursor 320ms 8.625 ease-in-out infinite;
}

@-webkit-keyframes cursor {
  0%, 100% {
    border-color: #f7f3ff;
  }
  50% {
    border-color: #241b5b;
  }
  100% {
    width: 0;
  }
}

@keyframes cursor {
  0%, 100% {
    border-color: #f7f3ff;
  }
  50% {
    border-color: #241b5b;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes type {
  11.1111111111% {
    width: 0.49em;
  }
  22.2222222222% {
    width: 0.98em;
  }
  33.3333333333% {
    width: 1.47em;
  }
  44.4444444444% {
    width: 1.96em;
  }
  55.5555555556% {
    width: 2.45em;
  }
  66.6666666667% {
    width: 2.94em;
  }
  77.7777777778% {
    width: 3.43em;
  }
  88.8888888889% {
    width: 3.92em;
  }
  100% {
    width: 3.92em;
    padding-right: 0;
  }
}
@keyframes type {
  11.1111111111% {
    width: 0.49em;
  }
  22.2222222222% {
    width: 0.98em;
  }
  33.3333333333% {
    width: 1.47em;
  }
  44.4444444444% {
    width: 1.96em;
  }
  55.5555555556% {
    width: 2.45em;
  }
  66.6666666667% {
    width: 2.94em;
  }
  77.7777777778% {
    width: 3.43em;
  }
  88.8888888889% {
    width: 3.92em;
  }
  100% {
    width: 3.92em;
    padding-right: 0;
  }
}
button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.75em;
  background: transparent;
  border-radius: 4px;
  color: inherit;
  border: 2px solid currentcolor;
  min-height: 34px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}
button:hover, button:focus {
  background-color: #e6daff;
}
  .iframely-embed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: white;
  }
 
  #app:hover {
    opacity: 0.8;
  }
  /* .col_carousel{
    display:flex;
    justify-content: center;
  } */
  
  #app {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    max-width:100%;
    padding-bottom: 4vmin;
    height: 95vh;
    width: 100%;
    background: #ede8e2;
    color: #3a3535;position:relative;
    width:100%;
    margin:0 auto;
    padding:0 0 0 40px;
  }
  /* .content{
    border: 1px solid red;
  }
  .right_content{
    border: 1px solid yellow;
  } */
 
  
  body {
   
    background: #e6ded7;
  }
  .carousel_between{
    width:100%;
  }
  .carousel_between_template{
    position: absolute;
    height:530px;
    width:90%;
    margin:0 auto;
    top:50%;
    left:50%;
    transform: translate(-50%, -36%);
    display: flex;
   
  }
  #header{
    width:100%;
    margin:0 auto;
  }
  .content_about{
    width:50%;
    position: relative;
  }
  .content_infor{
    width:90%;
    margin:15px auto;
    height:500px;
    position: relative;
    
  }
  .content_app{
    width:50%;
    height:530px;
  }
  .title {
    padding-left: 1em;
    grid-column: 1/-1;
    grid-row: 1;
    font-family: "Prata", serif;
    font-size: 5vw;
    width: 100%;
    z-index: 2;
  }
  .title > .title-inner {
    display: inline-block;
  }
  
  @-webkit-keyframes text-clip {
    from {
      -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
              clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    to {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
  
  @keyframes text-clip {
    from {
      -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
              clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    to {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
  @-webkit-keyframes outer-left {
    from {
      transform: translateX(50%);
    }
    to {
      transform: none;
    }
  }
  @keyframes outer-left {
    from {
      transform: translateX(50%);
    }
    to {
      transform: none;
    }
  }
  @-webkit-keyframes inner-left {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: none;
    }
  }
  @keyframes inner-left {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: none;
    }
  }
  .cafe,
  .mozart {
    -webkit-animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
            animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
  }
  
  .title-inner {
    display: inline-block;
    -webkit-animation: inner-left 1s 1s ease both;
            animation: inner-left 1s 1s ease both;
  }
  
  .cafe-inner {
    display: inline-block;
    -webkit-animation: inner-left 1s 1s ease both, text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
            animation: inner-left 1s 1s ease both, text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
  }
  
  .mozart-inner {
    -webkit-animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
            animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
  }
  
  .title {
    -webkit-animation: outer-left 1s 1s ease both;
            animation: outer-left 1s 1s ease both;
  }
  
  .cafe > .cafe-inner {
    display: inline-block;
  }
  
  .mozart {
    display: inline-block;
  }
  
  .image {
    grid-row: 1;
    grid-column: 2;
    position: absolute;
    right:0;
    top:30%;
    opacity: 0.65;
    -webkit-animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;
            animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;
            height:300px;
          
  }
  @-webkit-keyframes image-in {
    from {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
              clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
  @keyframes image-in {
    from {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
              clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
  .image img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  body:active * {
    -webkit-animation: none !important;
            animation: none !important;
  }
  .animated.hinge {
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
  
  @-webkit-keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.4, .4, .4);
              transform: scale3d(.4, .4, .4);
    }
  
    50% {
      opacity: 0.5;
    }
    
    100% {
      opacity: 0;
    }
  }
  
  @keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.4, .4, .4);
              transform: scale3d(.4, .4, .4);
    }
  
    50% {
      opacity: 0.5;
    }
    
    100% {
      opacity: 0;
    }
  }
  
  .zoomIn {
    -webkit-animation-name: zoomIn;
            animation-name: zoomIn;
  }
  /* ABOUT */
  #about{
    position:relative;
  }
  #about .about__background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color:crimson;
    z-index: 1;
    clip-path: ellipse(110% 60% at 0% 0%);
}
#about .about__container {
  max-width: 1200px;
  width: 80%;
  margin: 8% auto;
  position:absolute;
  left:10%;
  box-shadow: 0 0 15px 1px rgb(0 0 0 / 20%);
  background-color: #e6f4f1;
  overflow: hidden;
  border-radius: 10px;
  padding: 40px 40px 30px;
  height:580px;
  z-index:2;
}
#about h1{
  color:white;
  z-index:2;
  font-size:35px;
}
.about_tittle{
  color:black;
  z-index:2;
  width: 80%;
  margin: 1% auto;
  position:absolute;
  left:10%;
}


.img_about{
  height:400px;
  width:70%;
  margin:40px auto;
  border:none;
  border-radius: 5px;
  background-image: url('./img/244504244_4236881036437738_229979940435680245_n.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  box-shadow: 0 0 15px 1px rgb(0 0 0 / 20%);
}
#about .about__container .img_about_infor::before {
  content: "";
  height: 150px;
  width: 150px;
  position: absolute;
  z-index: 0;
  top: 4.5%;
  left: 14%;
  border-radius: 2px 0 0 0;
  border-top: 4px solid  rgba(71, 2, 35, 0.7);;
  border-left: 4px solid  rgba(71, 2, 35, 0.7);;
}
#about .about__container .img_about_infor::after {
  content: "";
  height: 150px;
  width: 150px;
  position: absolute;
  z-index: 0;
  bottom: 5.5%;
  right: 14%;
  border-radius: 0 0 2px 0;
  border-bottom: 4px solid  rgba(71, 2, 35, 0.7);;
  border-right: 4px solid  rgba(71, 2, 35, 0.7);;
}
.leaderboard {
  max-width: 490px;
  width: 100%;
  border-radius: 12px;
}
.leaderboard header {
  --start: 15%;
  height: 130px;
  background-image: repeating-radial-gradient(circle at var(--start), transparent 0%, transparent 10%, rgba(54, 89, 219, 0.33) 10%, rgba(54, 89, 219, 0.33) 17%), linear-gradient(to right, #f06292, #f06292);
  color: #fff;
  position: relative;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}
.leaderboard header .leaderboard__title {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: calc(var(--start) * .75);
  transform: translateY(-50%);
  text-transform: uppercase;
  margin: 0;
}
.leaderboard header .leaderboard__title span {
  display: block;
}
.leaderboard header .leaderboard__title--top {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 6.5px;
}
.leaderboard header .leaderboard__title--bottom {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 3.55px;
  opacity: 0.65;
  transform: translateY(-2px);
}
.leaderboard header .leaderboard__icon {
  fill: #fff;
  opacity: 0.35;
  width: 50px;
  position: absolute;
  top: 50%;
  left: var(--start);
  transform: translate(-50%, -50%);
}
.leaderboard__profiles {
  background-color: #fff;
  border-radius: 0 0 12px 12px;
  padding: 15px 15px 20px;
  display: grid;
  row-gap: 8px;
}
.leaderboard__profile {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  padding: 10px 30px 10px 10px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
  cursor: pointer;
  transition: transform 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98), box-shadow 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
  background-color: #fff;
}
.leaderboard__profile:hover {
  transform: scale(1.2);
  box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
}
.leaderboard__picture {
  max-width: 100%;
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #ebeef3, 0 0 0 22px #f3f4f6;
}
.leaderboard__name {
  color:rgba(71, 2, 35, 0.7);
  font-weight: 600;
  font-size: 16px!important;
  letter-spacing: 0.45px;
  margin-left: 12px;
  
}

.leaderboard__value {
  color: #35d8ac;
  font-weight: 700;
  font-size: 34px;
  text-align: right;
}
.leaderboard__value > span {
  opacity: 0.8;
  font-weight: 600;
  font-size: 13px;
  margin-left: 3px;
}


.leaderboard {
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.4);
}
/* RESUME */
#resume{
  height:155vh!important;
  width: 100% !important;
  position: relative!important;
 
  
}
.resume__body{
  width:1100px;
  height:800px;
  position: absolute;
 top: 50%!important;left:50%;
 transform:translate(-50%, -50%)
}

.resume_title{
  font-size:30px;
  font-weight: 400;
  padding:10px 0;
  letter-spacing: 0.2rem;
}

.resume_title span{
color:rgb(136, 7, 33)
}
.resume_content{
  margin: 6% auto;
  position:absolute;
  background-color: transparent;
  padding: 35px 30px;
  height:800px;
  z-index:2;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 350px 100px 350px;
  grid-gap:20px;
  
}
/* Columns:4 */
/* 
row1: 350;
row3: 350;
row2:100;
 */

.resume_item img{
  border-radius: 5px;
}
.blog__item{
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  height:400px;
}
.resume_item_1{
grid-row: 1/2;
grid-column: 1/3;

}
.blog__item1{
  /* line bắt đầu / line kết thúc  */
  /* grid-column: 1 / 3; */
  /* line bắt đầu / span số lượng cột */
  grid-column: 1 / 3;
  grid-row: 1 /  2;
}
.blog__content{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-template-rows: 350px 100px 350px;
  grid-gap:20px;
}
.blog__item{
  height:330px;
  max-height:330px;
}
.blog__item2,  .blog__item3{
  grid-row: 1 /  3;
}
img {
	max-width: 400px;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}

/* Main CSS */
.grid-wrapper > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-wrapper > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.grid-wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
}
.grid-wrapper .wide {
	grid-column: span 2;
}
.grid-wrapper .tall {
	grid-row: span 2;
}
.grid-wrapper .big {
	grid-column: span 2;
	grid-row: span 2;
}
/* .resume__grid{
  width:1100px;
  max-width:1100px;
  margin:8% auto;
  height:800px;
border:1px solid red;
position:absolute;
top:8% auto;
left:5%;
grid-gap:20px
} */
.grid{
  width: 1100px;
  height:800px;
  display:grid;
  margin:0;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 20px;
}
.grid-item{
  background-color: transparent;
  border:  dashed 2px rgba(220, 20, 60, 0.6);
  border-radius: 8px;
  box-sizing: border-box;
}
.grid-item-two{
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  border:none;
 background-image: url('https://images.unsplash.com/photo-1627556704302-624286467c65?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzZ8fGdyYWR1YXRlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
 opacity: 0.7;
 background-size: cover;
 background-position:center;
 position:relative;
 overflow: hidden;
}
.grid-item-four{
  background-image: url('https://images.unsplash.com/photo-1588600878108-578307a3cc9d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGV4cGVyaWVuY2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
 opacity: 0.9;
 background-size: cover;
 background-position:center;
 position:relative;
 overflow: hidden;
 border:none;
}
.gird_overlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(220, 20, 60, 0.6);
  overflow: hidden;
  opacity: 0;
    transition:all 0.5s ease-in-out;
}
.grid-item-two:hover .gird_overlay{
  opacity: 1;
}
.grid-item-four:hover .gird_overlay{
  opacity: 1;
}
.grid-item-four{
  grid-row: 3 / 4;
}
.grid-item-six{
  grid-column: 2 / 4;
}
.grid-item h3{
  font-size:15px!important;
  line-height:24px;
  color:rgb(136, 7, 33);
  font-weight:500;
}
.grid-item h2{
  font-size:15px;
  color:gray!important;
  padding:5px 0;
}
.infor li{
  list-style: circle!important;
  font-size:14.5px!important;
  padding-left: none;
  margin-left: -23px;
  padding:8px 0;
  color:black;
  line-height:23px;
  font-weight:500;
  text-align: left;
  
}
.infor li span{
  color:rgb(88, 64, 64)
}
/*  */
.infor_main:hover .grid-item{
    background-color: #fff;
    border: 2px solid rgba(220, 20, 60, 0.6);
    box-shadow: 0 0px 3.5px rgb(0 49 52 / 9%), 0 0px 11.8px rgb(0 49 52 / 13%), 0 0px 53px rgb(0 49 52 / 21%);
}
.infor{
  padding:20px;
}
.gird_overlay .box {
  width: 250px;
  height: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.gird_overlay .box .title {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
}
.gird_overlay .box .title .block {
  width: 0%;
  height: inherit;
  background: #ffb510;
  position: absolute;
  animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  display: flex;
}
.gird_overlay .box .title h1 {
  font-family: "Poppins";
  color: #fff;
  font-size: 32px;
  -webkit-animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  opacity: 0;
  display: flex;
  align-items: baseline;
  position: relative;
}
.gird_overlay .box .title h1 span {
  width: 0px;
  height: 0px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #ffb510;
  -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 2s;
  margin-left: 5px;
  margin-top: -10px;
  position: absolute;
  bottom: 13px;
  right: -12px;
}
.gird_overlay .box .role {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: -10px;
}
.gird_overlay .box .role .block {
  width: 0%;
  height: inherit;
  background: #e91e63;
  position: absolute;
  animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) infinite;
  animation-delay: 2s;
  display: flex;
}
.gird_overlay .box .role p {
  animation: secFadeIn 2s infinite;
  animation-delay: 3.2s;
  opacity: 0;
  font-weight: 400;
  font-family: "Lato";
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 10px;
}
/* box_four */
.gird_overlay .box_four{
  width: 250px;
  height: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 0px;
}
.gird_overlay .box_four .title {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
}
.gird_overlay .box_four .title .block {
  width: 0%;
  height: inherit;
  background: #ffb510;
  position: absolute;
  animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  display: flex;
}
.gird_overlay .box_four .title h1 {
  font-family: "Poppins";
  color: #fff;
  font-size: 32px;
  -webkit-animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  opacity: 0;
  display: flex;
  align-items: baseline;
  position: relative;
}
.gird_overlay .box_four .title h1 span {
  width: 0px;
  height: 0px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #ffb510;
  -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 2s;
  margin-left: 5px;
  margin-top: -10px;
  position: absolute;
  bottom: 13px;
  right: -12px;
}
.gird_overlay .box_four .role {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: -10px;
}
.gird_overlay .box_four .role .block {
  width: 0%;
  height: inherit;
  background: #e91e63;
  position: absolute;
  animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) infinite;
  animation-delay: 2s;
  display: flex;
}
.gird_overlay .box_four .role p {
  animation: secFadeIn 2s infinite;
  animation-delay: 3.2s;
  opacity: 0;
  font-weight: 400;
  font-family: "Lato";
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 10px;
  margin-left:15px;
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 7px;
    height: 7px;
    background: #e9d856;
    border: 0px solid #222;
    bottom: 13px;
  }
}
@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
.box{
  position: absolute;
  top:70%;
  left: 50%;
  transform: translate(-50%, 0%);
}
/* SKILL */
#skill{
  height:158vh;
  position:relative;
  background-color:#fff;
  
}

.skill_overlay{
  position:absolute;
  bottom:0;
}

.skill_content{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  width:80%;
  margin:0% auto;
height:100vh;
position:absolute;
left:50%;
top: 8%;transform: translate(-50%, 0%);
height:auto;
grid-auto-rows: minmax(200px, auto);
  grid-gap: 20px;
  
}

.skill__overlay{
  position:absolute;
  right:20%;
  top:50%;
  background-color: #cb134e;
  width:30%;
  z-index:-1;
}
#skill .skill__content .team_content p{
  font-weight:500;
  border-radius: 40px;
  border: 0.7px solid rgba(220, 20, 60, 0.6);
  padding:7px 6px;
  font-size:14x;
  margin-right: 5px;
  color:crimson;
  
}
#skill .skill__content{
  font-size:14px;
}
.team_content{
  width:80%;
  margin:0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size:10x;
}
.skill__content{
  width:94%;
  margin:0 auto;
}
.our-team {
  padding: 30px 0 40px;
  margin-bottom: 20px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
  height:380px;
  border-radius: 8px;
  box-shadow: 0 0px 3.5px rgb(0 49 52 / 9%), 0 0px 11.8px rgb(0 49 52 / 13%), 0 0px 53px rgb(0 49 52 / 21%);
}

.our-team .picture {
  display: inline-block;
  height: 150px;
  width: 150px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: crimson;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: crimson;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: crimson;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: crimson;
  background-color: #f7f5ec;
}
#skill .row{
  padding:10% 0;
}
/* portfolio */
#portfolio{
  height:156vh;
  background-color: crimson;
  width:100%;
  padding:20px 0;
}
/* PORFOLIO */
.portfolio_content{
  width:100%;
  margin:0 auto;
  height:950px;
  position:relative;

}
.section{
  position: relative;
  width: 100%;
  display: block;
}
.full-height{
  min-height: 100vh;
}
.over-hide{
  overflow: hidden;
}
.padding-tb{
  padding: 50px 0;
}
[type="radio"]:checked,
[type="radio"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
  position: relative;
  cursor: pointer;
  margin-top: 250px;
  text-align: center;
  margin-right: 6px;
  margin-left: 6px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid #bdc3c7;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-image: url('https://tse2.mm.bing.net/th?id=OIP.uA4HiiRD45UqaNDnYwUqpQHaHa&pid=Api&P=0&w=300&h=300');
  animation: border-transform 6s linear infinite alternate forwards;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    animation-play-state: paused;
}
.checkbox.scnd + label{
  background-image: url('https://assets.codepen.io/1462889/sl2.jpg');
}
.checkbox.thrd + label{
  background-image: url('https://assets.codepen.io/1462889/sl3.jpg');
}
.checkbox.foth + label{
  background-image: url('https://assets.codepen.io/1462889/sl4.jpg');
}

.checkbox:checked + label{
  box-shadow: 0 8px 25px 0 rgba(16,39,112,.3);
  transform: scale(1.3);
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    animation-play-state: running;
}
@keyframes border-transform{
  0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}

.slider-height-padding {
  padding-top: 440px;
}

.portfolio_content ul {
  position: absolute;
  top: 6%;
  left:50%;
  display: block;
  width: 900px;
  z-index: 100;
  padding: 0;
  margin: 0;
  list-style: none;
  transform: translate(-50%, 0%);
}

.portfolio_content ul li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  z-index: 100;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 500px;
  border: none;
  background-size: cover;
  background-position: center;
  /* background-image: url('https://assets.codepen.io/1462889/sl1.jpg'); */
  border-radius: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 2.7;
  color: #343434;
  writing-mode: vertical-rl;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 8px 25px 0 rgba(16,39,112,.1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #fff;
  
  z-index:2;

 
}
.slide_portfolio{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width:800px;
  height:420px;
  background-size: cover;
  background-position: center;
  background-image: url('./img/Screenshot\ \(2156\).png');
}
.view_porfolio{
  position:absolute;
  right:-30px;
  height:260px;
  width:500px;
  top:70%;
  z-index:99999999!important;
  background-color: white;
  border-radius: 8px;
  border: 2px solid rgba(220, 20, 60, 0.6);
  box-shadow: 0 2.8px 2.3px -34px rgb(0 49 52 / 21%), 0 9.4px 7.8px -34px rgb(0 49 52 / 30%), 0 42px 35px -34px rgb(0 49 52 / 51%);
}
.infor_portfolio{
  padding:25px;
  writing-mode: horizontal-tb
}
.infor_portfolio h3{font-size:16px;
text-align: left;}
.infor_portfolio h2{
  font-size:15px;
  letter-spacing: 0.1rem;
 padding:3px 0;
 text-align: left;
}
.infor_portfolio a{
  font-size:14px!important;
  margin-right:13px;
  text-decoration: none;
  padding:8px 10px;
  background-color: crimson;
  color:white;
  border-radius: 5px;
}
.infor_portfolio p{
  font-size:14px;
  letter-spacing: 0!important;
  font-weight:600;
  text-align: justify;
  line-height:20px;
  margin-top:5px;
}
.infor_portfolio p:nth-child(2){
  margin-top:-10px;
}
.infor_portfolio p:nth-child(3){
  margin-top:-10px;
}
.infor_portfolio span{
  margin-left:5px;
  font-weight:400;
}

.slide-content{
  position:absolute;
  width:100%;
  height:100%;
  top:8%;
  right:0%;
  padding: 2rem 3.8rem;
  overflow:hidden;
}
.slide-content h1, h2{
  writing-mode: horizontal-tb
}
.slide-content h1{
  text-transform:uppercase;
        color:white;
        font-weight:900;
        font-size:2rem;
        text-align:center;
        margin:0;
        opacity:0.6;
        position:relative;
        margin-top:20px;
}
.slide-content h2{
    color:#E34D67;
    font-size:2rem;
    max-width:80%;
    margin:0;
    margin-top:2.8rem;
    font-weight:900;
    line-height:1;
    position:absolute;
    right:27px;
    margin-right:30px;
}
.title_porfolio{
 float:left;
 position:absolute;
 top:20%;
 
}
.title_porfolio span:first-child{

  mix-blend-mode: difference;
}
.title_porfolio span:last-child{
  color:#E34D67;
  margin-left:30px;
}
/* .portfolio_content ul li span {
  mix-blend-mode: difference;
} */
.portfolio_content ul li:nth-child(2) {
  background-image: url('https://assets.codepen.io/1462889/sl2.jpg');
}
.portfolio_content ul li:nth-child(3) {
  background-image: url('https://assets.codepen.io/1462889/sl3.jpg');
}
.portfolio_content ul li:nth-child(4) {
  background-image: url('https://assets.codepen.io/1462889/sl4.jpg');
}
.slider-ctr {
  width: 700px;
  height: 440px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -220px;
  margin-left: -350px;
  box-sizing: border-box;
  border: 10px solid white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 10px 15px 3px rgba(0, 0, 0, 0.15), 0 5px 20px 3px rgba(0, 0, 0, 0.1);
}
.slider-ctr:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent 70%, rgba(0, 0, 0, 0.6) 100%);
  background: -webkit-linear-gradient(to bottom, transparent 70%, rgba(0, 0, 0, 0.6) 100%);
  pointer-events: none;
  z-index: 9;
}

.slider-control {
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 80px;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.15);
  z-index: 99;
}
.slider-control .control {
  width: 50%;
  height: 40px;
  display: block;
  float: left;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  transition: 0.3s all ease;
  background: white;
}
.slider-control .control .icon {
  pointer-events: none;
  transition: 0.3s all ease;
}
.slider-control .control.disabled {
  pointer-events: none;
  background: #ddd;
}
.slider-control .control.disabled .icon {
  opacity: 0.5;
}

.slide {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.45s all cubic-bezier(0.65, 0.05, 0.36, 1);
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}
.slide:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.125);
}
.slide.slide-on {
  -webkit-clip-path: inset(0 100% 0 0);
  clip-path: inset(0 100% 0 0);
}
.slide.text-on .title {
  transition: 0.3s all cubic-bezier(0.65, 0.05, 0.36, 1) 0.45s;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}
.slide.text-on .author {
  transition: 0.3s all cubic-bezier(0.65, 0.05, 0.36, 1) 0.6s;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}
.slide img {
  display: block;
}
.slide figcaption {
  position: absolute;
  top: 30px;
  left: 30px;
}
.slide .title {
  font-size: 50px;
  margin-bottom: 2px;
  color: white;
  transition: 0.3s all cubic-bezier(0.65, 0.05, 0.36, 1) 0.45s;
  -webkit-clip-path: inset(0 0 0 100%);
  clip-path: inset(0 0 0 100%);
  font-weight: 400;
  letter-spacing: 10px;
  text-transform: uppercase;
  position: relative;
}
.slide .author {
  font-size: 16px;
  color: white;
  opacity: 0.8;
  transition: 0.3s all cubic-bezier(0.65, 0.05, 0.36, 1) 0.45s;
  -webkit-clip-path: inset(0 0 0 100%);
  clip-path: inset(0 0 0 100%);
  font-weight: 300;
  letter-spacing: 3px;
  position: relative;
  z-index: 9;
}


.checkbox.frst:checked ~ ul li:nth-child(1) {
  opacity: 1;
  pointer-events: auto;
  border-radius: 16px;
}
.checkbox.scnd:checked ~ ul li:nth-child(2) {
  opacity: 1;
  pointer-events: auto;
  border-radius: 16px;
}
.checkbox.thrd:checked ~ ul li:nth-child(3) {
  opacity: 1;
  pointer-events: auto;
  border-radius: 16px;
}
.checkbox.foth:checked ~ ul li:nth-child(4) {
  opacity: 1;
  pointer-events: auto;
  border-radius: 16px;
}

.logo {
	position: absolute;
	top: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
}



@media (max-width: 767px) {
  .slider-height-padding {
    padding-top: 340px;
  }
  ul li {
    height: 300px;
    font-size: 13px;
    letter-spacing: 1px;
  }
}

@media (max-width: 575px) {
  .slider-height-padding {
    padding-top: 240px;
  }
  ul li {
    height: 200px;
  }
}
.portfolio_content a{
  font-size:20px;
  font-weight: bold;
  color:rgb(1, 1, 80);
  margin-bottom: 30px;
}
/* Footer */
#footer{
  height:100vh!important;
  /* background-color: rgba(71, 2, 35, 0.7); */
  background-color: transparent;
  position: relative;
  
}
.footer{
  width:65%;
  margin:0 auto;
  height:90vh;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%)
}
.footer_header{
  text-align: left;
}
.footer_header h1{
  font-size:40px;
  text-align: left;
    margin-bottom: 20px;
    color: rgba(71, 2, 35, 0.7);
    font-weight:bold;
  letter-spacing: 0.1rem;
}
.footer_header  h1 span{
  color:crimson
}
.footer_header p{
  font-size:16px;
  letter-spacing: 0.05rem;
  line-height:25px;
}
.footer_main{
  padding:20px 0;
}
.footer_main h3{
  font-size:20px;
  color: crimson
}
.footer_main ul li{
  list-style: none;
  text-align: left;
  margin-left:-40px;
  margin-top:15px;
  margin-bottom: 15px;
  
}
.footer_main ul{
  margin:20px 0;
}
.footer_main ul li a{
  margin-left:6px;
  font-size:16px;
  text-decoration: none;
}
.footer_main span{
  margin:0 5px;
  font-size:16px;
  color:rgba(71, 2, 35, 0.7);
  font-weight:500;
  width:100px;
  max-width:100px;
}
.footer_main i{
  color: crimson;
}
.phone {
  text-decoration: none;
  color:black
}
.input{
  margin:2px 0;
}
.footer_main input{
  padding:10px 40px 10px 10px;
  font-size:12px;
}
.input img{
 height:200px;
 position: absolute;
 left:50%;
 transform: translateX(-50%);
}
.subscribe{
 padding-top:60%;

}
.input{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.subscribe h1 {
  font-size: 1rem;
  color: #3e4146;
  line-height: 130%;
  letter-spacing: 0.07rem;
  margin-bottom: 30px;
}
.subscribe h1 span {
  color: #f66867;
}
.subscribe .email{
  width: 100%;;
  padding: 10px 11px;
  text-align: center;
  font-family: inherit;
  font-size: 14px!important;
  letter-spacing: 0.05rem;
  outline: 0;
  width:270px;
  border: 0.5px solid gray;
}
.subscribe form{
  float: left;
}
.subscribe .submit{
  
  text-align: center;
  font-family: inherit;
  font-size: 13px!important;
}
.subscribe button{
  padding: 8px 11px;
  width:100px;
  background-color: #8e6ac1;
  border: none;
  color:white
}
/* .subscribe form input[type=email] {
  margin-bottom: 15px;
  border: 1px solid #bec1c5;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
} */
.end{
  height:60px;
  width:100%;
  background-color: crimson;position: relative;
}
.end_title p{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  color:white
}